In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s3e15/sample_submission.csv
/kaggle/input/playground-series-s3e15/data.csv

In [2]:
train=pd.read_csv('/kaggle/input/playground-series-s3e15/data.csv')
sub=pd.read_csv('/kaggle/input/playground-series-s3e15/sample_submission.csv')

In [3]:
train

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,0,Thompson,tube,7.00,3770.0,0.1754,NaN,10.8,432.0,3.6
1,1,Thompson,tube,NaN,6049.0,-0.0416,10.3,10.3,762.0,6.2
2,2,Thompson,NaN,13.79,2034.0,0.0335,7.7,7.7,457.0,2.5
3,3,Beus,annulus,13.79,3679.0,-0.0279,5.6,15.2,2134.0,3.0
4,4,NaN,tube,13.79,686.0,NaN,11.1,11.1,457.0,2.8
...,...,...,...,...,...,...,...,...,...,...
31639,31639,Thompson,NaN,NaN,1736.0,0.0886,NaN,7.8,591.0,2.3
31640,31640,NaN,NaN,13.79,NaN,NaN,4.7,4.7,NaN,3.9
31641,31641,Thompson,NaN,18.27,658.0,-0.1224,3.0,3.0,150.0,2.3
31642,31642,Thompson,tube,6.89,3825.0,NaN,23.6,23.6,1972.0,3.7
31643,31643,NaN,tube,6.89,7568.0,0.0603,12.8,12.8,1930.0,3.3

In [4]:
sub

          id  x_e_out [-]
0          4          0.0
1          7          0.0
2         10          0.0
3         12          0.0
4         23          0.0
...      ...          ...
10410  31633          0.0
10411  31634          0.0
10412  31637          0.0
10413  31640          0.0
10414  31642          0.0

[10415 rows x 2 columns]

In [5]:
# separate rows with NaN values from those that do not
test = train[train['x_e_out [-]'].isna()]
train = train.dropna(subset=['x_e_out [-]'])

In [6]:
train

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,0,Thompson,tube,7.00,3770.0,0.1754,NaN,10.8,432.0,3.6
1,1,Thompson,tube,NaN,6049.0,-0.0416,10.3,10.3,762.0,6.2
2,2,Thompson,NaN,13.79,2034.0,0.0335,7.7,7.7,457.0,2.5
3,3,Beus,annulus,13.79,3679.0,-0.0279,5.6,15.2,2134.0,3.0
5,5,NaN,NaN,17.24,3648.0,-0.0711,NaN,1.9,696.0,3.6
...,...,...,...,...,...,...,...,...,...,...
31636,31636,NaN,NaN,12.07,NaN,-0.0195,NaN,1.9,152.0,5.4
31638,31638,Thompson,tube,NaN,3648.0,-0.0487,4.7,4.7,318.0,9.0
31639,31639,Thompson,NaN,NaN,1736.0,0.0886,NaN,7.8,591.0,2.3
31641,31641,Thompson,NaN,18.27,658.0,-0.1224,3.0,3.0,150.0,2.3
31643,31643,NaN,tube,6.89,7568.0,0.0603,12.8,12.8,1930.0,3.3

In [7]:
test

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
4,4,NaN,tube,13.79,686.0,NaN,11.1,11.1,457.0,2.8
7,7,Peskov,tube,18.00,750.0,NaN,10.0,10.0,1650.0,2.2
10,10,Thompson,tube,NaN,NaN,NaN,1.9,1.9,152.0,3.2
12,12,Thompson,NaN,6.89,7500.0,NaN,NaN,12.8,1930.0,4.8
23,23,Beus,annulus,15.51,1355.0,NaN,5.6,15.2,2134.0,2.1
...,...,...,...,...,...,...,...,...,...,...
31633,31633,Thompson,tube,11.03,NaN,NaN,11.5,11.5,NaN,2.0
31634,31634,Richenderfer,plate,1.01,2000.0,NaN,15.0,120.0,10.0,6.2
31637,31637,Weatherhead,tube,13.79,688.0,NaN,NaN,11.1,457.0,2.3
31640,31640,NaN,NaN,13.79,NaN,NaN,4.7,4.7,NaN,3.9
31642,31642,Thompson,tube,6.89,3825.0,NaN,23.6,23.6,1972.0,3.7

In [8]:
test=test.drop('x_e_out [-]',axis=1)

In [9]:
test

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
4,4,NaN,tube,13.79,686.0,11.1,11.1,457.0,2.8
7,7,Peskov,tube,18.00,750.0,10.0,10.0,1650.0,2.2
10,10,Thompson,tube,NaN,NaN,1.9,1.9,152.0,3.2
12,12,Thompson,NaN,6.89,7500.0,NaN,12.8,1930.0,4.8
23,23,Beus,annulus,15.51,1355.0,5.6,15.2,2134.0,2.1
...,...,...,...,...,...,...,...,...,...
31633,31633,Thompson,tube,11.03,NaN,11.5,11.5,NaN,2.0
31634,31634,Richenderfer,plate,1.01,2000.0,15.0,120.0,10.0,6.2
31637,31637,Weatherhead,tube,13.79,688.0,NaN,11.1,457.0,2.3
31640,31640,NaN,NaN,13.79,NaN,4.7,4.7,NaN,3.9
31642,31642,Thompson,tube,6.89,3825.0,23.6,23.6,1972.0,3.7

In [10]:
# loop over all columns and print the unique values
for column in train.columns:
    print(f'Column: {column}')
    print(train[column].nunique())
    print()

Column: id
21229

Column: author
10

Column: geometry
3

Column: pressure [MPa]
140

Column: mass_flux [kg/m2-s]
689

Column: x_e_out [-]
1682

Column: D_e [mm]
41

Column: D_h [mm]
47

Column: length [mm]
65

Column: chf_exp [MW/m2]
109

In [11]:
# get the number of unique values of each column
unique_counts = train.nunique()

print('Number of unique values for each column:')
print(unique_counts)

Number of unique values for each column:
id                     21229
author                    10
geometry                   3
pressure [MPa]           140
mass_flux [kg/m2-s]      689
x_e_out [-]             1682
D_e [mm]                  41
D_h [mm]                  47
length [mm]               65
chf_exp [MW/m2]          109
dtype: int64

In [12]:
# Convert categorical variables into numerical variables using label encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X_categorical = train.select_dtypes(include=['object'])
X_encoded = X_categorical.apply(le.fit_transform)
X_numeric = train.select_dtypes(exclude=['object'])
X_encoded = pd.concat([X_encoded, X_numeric], axis=1)

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [13]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
X_train_imputed = pd.DataFrame(imputer.fit_transform(X_encoded), columns=X_encoded.columns)

In [14]:
# Separate the features and target variable
X = X_train_imputed.drop('x_e_out [-]', axis=1)
y = X_train_imputed['x_e_out [-]']

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [16]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.base import clone

# Instantiate the models
rf_reg = RandomForestRegressor(random_state=42)
gb_reg = GradientBoostingRegressor(random_state=42)
cat_reg = CatBoostRegressor(random_state=42, verbose=0)

# Train the models
rf_reg.fit(X_train, y_train)
gb_reg.fit(X_train, y_train)
cat_reg.fit(X_train, y_train)

# Make predictions on the test set
rf_pred = rf_reg.predict(X_test)
gb_pred = gb_reg.predict(X_test)
cat_pred = cat_reg.predict(X_test)

# Calculate the mean squared error for each model
rf_mse = mean_squared_error(y_test, rf_pred)
gb_mse = mean_squared_error(y_test, gb_pred)
cat_mse = mean_squared_error(y_test, cat_pred)

print("Random Forest Regressor MSE: {:.4f}".format(rf_mse))
print("Gradient Boosting Regressor MSE: {:.4f}".format(gb_mse))
print("CatBoost Regressor MSE: {:.4f}".format(cat_mse))

# Create an ensemble of the four models
ensemble = [clone(rf_reg), clone(gb_reg), clone(cat_reg)]
for model in ensemble:
    model.fit(X_train, y_train)

# Make predictions using the ensemble
ensemble_pred = [model.predict(X_test) for model in ensemble]
ensemble_pred = sum(ensemble_pred) / len(ensemble_pred)

# Calculate the mean squared error for the ensemble
ensemble_mse = mean_squared_error(y_test, ensemble_pred)
print("Ensemble MSE: {:.4f}".format(ensemble_mse))

Random Forest Regressor MSE: 0.0068
Gradient Boosting Regressor MSE: 0.0065
CatBoost Regressor MSE: 0.0063
Ensemble MSE: 0.0063

In [17]:
le = LabelEncoder()
X_categorical = test.select_dtypes(include=['object'])
X_encoded = X_categorical.apply(le.fit_transform)
X_numeric = test.select_dtypes(exclude=['object'])
X_encoded = pd.concat([X_encoded, X_numeric], axis=1)

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
X_train_imputed = pd.DataFrame(imputer.fit_transform(X_encoded), columns=X_encoded.columns)

In [18]:
ensemble_pred = [model.predict(X_train_imputed) for model in ensemble]
ensemble_pred = sum(ensemble_pred) / len(ensemble_pred)

In [19]:
df=test
df['x_e_out [-]']=ensemble_pred
od=df[['id','x_e_out [-]']]

In [20]:
od

          id  x_e_out [-]
4          4    -0.013180
7          7    -0.076941
10        10    -0.053490
12        12     0.002927
23        23     0.039527
...      ...          ...
31633  31633     0.074111
31634  31634    -0.060896
31637  31637     0.029097
31640  31640    -0.045240
31642  31642    -0.005895

[10415 rows x 2 columns]

In [21]:
od.to_csv('submission.csv',index=False)